[submodule "GamEn/module/spdlog"]
	path = GamEn/module/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GamEn/module/GLFW"]
	path = GamEn/module/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "GamEn/module/imgui"]
	path = GamEn/module/imgui
	url = https://github.com/TheCherno/imgui/
